html {
/*   max-width: 1920px;
  margin: 0 auto !important; */
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 70px;
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 85px;
  }
}

@media screen and (min-width: 1700px) {
  html {
    font-size: 90px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 95px;
  }
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 105px;
  }
}

@media screen and (min-width: 2100px) {
  html {
    font-size: 110px;
  }
}


@media screen and (min-width: 2200px) {
  html {
    font-size: 115px;
  }
}
@media screen and (min-width: 2300px) {
  html {
    font-size: 120px;
  }
}
@media screen and (min-width: 2400px) {
  html {
    font-size: 125px;
  }
}
@media screen and (min-width: 2500px) {
  html {
    font-size: 135px;
  }
}
@media screen and (min-width: 2600px) {
  html {
    font-size: 140px;
  }
}
@media screen and (min-width: 2700px) {
  html {
    font-size: 145px;
  }
}
@media screen and (min-width: 2800px) {
  html {
    font-size: 150px;
  }
}
@media screen and (min-width: 3000px) {
  html {
    font-size: 160px;
  }
}
@media screen and (min-width: 3200px) {
  html {
    font-size: 170px;
  }
}

@media screen and (min-width: 3400px) {
  html {
    font-size: 180px;
  }
}

@media screen and (min-width: 3600px) {
  html {
    font-size: 190px;
  }
}

@media screen and (min-width: 3800px) {
  html {
    font-size: 200px;
  }
}

@media screen and (min-width: 4000px) {
  html {
    font-size: 210px;
  }
}